<!DOCTYPE html>
<html>
  <head>
    <title>Pep8 checker</title>
    <style>
      .container {
        max-width: 1000px;
      }
    </style>
  </head>
  <body>
      <h1>Simple Pep8 checker</h1>
      <form role="form" method='post' action='/check_pep8_debug?ignore_codes=X123'>
          <textarea name="input_code" type="text" class="textinput" id="url-box" placeholder="Enter your code..." style="width: 1400px;" rows="35" autofocus required></textarea>
          </br><button type="submit" class="btn btn-default">Submit</button>
      </form>
      <br>
  </body>
</html>
